<div class="inspiration">
  <div class="row">
    <div class="inspiration-filter">
      <ul>
        <li>Filter</li>
        <li class="inspiration-filter_all"><a href="#">All</a></li>
        <li class="inspiration-filter_design"><a href="#">Design</a></li>
        <li class="inspiration-filter_business"><a href="#">Business</a></li>
        <li class="inspiration-filter_social"><a href="#">Social</a></li>
        <li class="inspiration-filter_events"><a href="#">Events</a></li>
      </ul>
    </div>
  </div>
  <% @articles.each do |article| %>
  <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-3">
    <div class="inspiration-header i-header-one">
      <h5 class="ribbon ribbon--business"><%= article.tag %></h5>
    </div>

    <div class="inspiration-body">
      <h4><%= article.name %></h4>
      <%= truncate( article.description , length: 180, separator: ' ') %>
      <%= link_to article.cta_button, article, class: "btn btn-inspiration" %>
    </div>
  </div>
  <% end %>
</div>
