<header class="header-home header-team">

  <div class="header-content">

    <h1>So, you have some questions</h1>

    <h3>Hopefully we can answer all of your questions below, if not you can get in touch at
      <a href="http://www.twitter.com/beignited" style="color:#fff;" target="_blank">@BeIgnited</a>
    </h3>

  </div>

</header>

<div class="container" style="padding-bottom:50px;">

  <div class="faq-intro faq">

    <div class="col-md-12" id="video-embed">
      <div class="col-md-5">
        <p>Ignited Minds is brand new and very, very shiny so we're sure that you're packed to the brim with questions on how to use the platform, how it works, how we make money, why we've built it and so on. So, to make things easy we've created a little film</p>
      </div>

      <div class="col-md-7">
        <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/D2PN7hMcVZo" width="560"></iframe>
      </div>
      <div class="row" style="padding-bottom:30px;"></div>
      <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" id="headingOne" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseOne" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                <h3>What is Ignited Minds</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel">
            <div class="panel-body">

              <h4>24 Hours Per Week / £7.20 Per Hour</h4>

              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
              bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,

              <a class="btn btn-apply" href="#">Apply Today</a>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" id="headingTwo" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                <h3>Who built this wonderful platform?</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="headingTwo" class="panel-collapse collapse" id="collapseTwo" role="tabpanel">
            <div class="panel-body">
              <h4>24 Hours Per Week / £7.20 Per Hour</h4>

              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
              bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,

              <a class="btn btn-apply" href="#">Apply Today</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" id="headingThree" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                <h3>How do I use Ignited Minds?</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseThree" role="tabpanel">
            <div class="panel-body">
              <h4>24 Hours Per Week / £7.20 Per Hour</h4>

              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
              bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,

              <a class="btn btn-apply" href="#">Apply Today</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" id="headingFour" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
                <h3>Why does Ignited Minds exist?</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="headingThree" class="panel-collapse collapse" id="collapseFour" role="tabpanel">
            <div class="panel-body" id="video-embed">
              <h4>24-32 Hours Per Week / £8.60 Per Hour</h4>

              Your job is simple, create the most captivating, influential and inspiring films in the world. You'll be interviewing some of the world's top entrepreneurs as well as the most interesting business people you have ever met. You'll be traveling across<br><br>

              You have to be used to working on your own as well as being able to set up your own interviews and shoots.<br><br>
              Own equipment is preffered (if you own an A7S you win), otherwise equipment can be provided if necessary. Ignited Minds will cover your insurance.<br><br>

              You'll be making content such as this:<br><br>

              <iframe allowfullscreen frameborder="0" height="315" src="https://www.youtube.com/embed/Y7JNyiRhv-c" width="560"></iframe>

              <a class="btn btn-apply" href="#">Apply Today</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" id="headingFive" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
                <h3>How much does it cost?</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="headingFive" class="panel-collapse collapse" id="collapseFive" role="tabpanel">
            <div class="panel-body">
              <h4>We're free. Forever.</h4>

              Ignited Minds is completely and utterly, 100%, indefinitely free. You will always have 100% access to our platform for free, so put your credit acrd back in your wallet and get signed up!

            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" id="headingSix" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseSix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">
                <h3>Okay, if it doesn't cost anything how do you make money?</h3>
                <p>General</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="collapseSix" class="panel-collapse collapse" id="collapseSix" role="tabpanel">
            <div class="panel-body">
              <h4>24-32 Hours Per Week / £8.60 Per Hour</h4>

              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
              bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,

              <a class="btn btn-apply" href="#">Apply Today</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" id="headingSeven" role="tab">
            <h4 class="panel-title">
              <a aria-controls="collapseSeven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">
                <h3>Can I sponsor Ignited Minds?</h3>
                <p>Business</p>
              </a>
            </h4>
          </div>
          <div aria-labelledby="collapseSeven" class="panel-collapse collapse" id="collapseSeven" role="tabpanel">
            <div class="panel-body">
              <h4>Yes, yes you can</h4>

              Sponsorships are what keeps Ignited Minds alive and breathing. Our two Co-founders don't get paid for the 40+ hours per week that they devote to Ignited Minds and it's likely that they never will, instead we want to use all of our money generated<br><br>

              You can sponsor Ignited Minds in a number of ways:<br><br>
              <ul>
                <li>Sponsor a series or individual films</li>
                <li>Make a cash donation</li>
                <li>Your time</li>
                <li>Desk Space</li>
                <li>Equipment</li>
              </ul>

              <a class="btn btn-apply" href="#">Tell me more</a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
