<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Campfire // Jamie Halvorson">
    
      <title>Ignited Minds</title>
	  <%= stylesheet_link_tag 'landing' %>

        <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>

<body>
<%= yield %>
</body>

